<div>
        <table class="pure-table pure-table-bordered">
            <thead >
            <tr>    
                    <th >Rank</th>   
                    <th >Title</th>
                    <th >Year</th>
                    <th >Status</th>
            </tr>
            </thead>




        <tbody>
                {{ range .Site.Data.westerns }}
        <tr>
                
                <td>{{.Rank}}</td>
                <td>{{ .Title }}</td>
                <td>{{.Year}}</td> 
                <td>{{.Status}}</td>
                
        </tr>
        {{end}}
        </tbody>
    </table>
         
    
</div>

